@charset "utf-8";
/* CSS Document */
.addq{
	margin:0 auto;
}
.question{
	box-sizing:border-box;
	background-color:#ADD8E6;
	border-radius:20px;
	margin:0;
	padding:5px 0 10px 15px;
}

.question p{
	margin: 0;
}
.button{
	width:100px;
	height: 30px;
	background-color: #ADD8E6;
	border-radius: 10px;
}
.panel-body{
	font-family:"宋体",Arial, Helvetica, sans-serif;
	font-size: 12px;
}
