@charset "utf-8";
/* CSS Document */
html,body{
	width:100%;
	margin:0;
	font-family:"微软雅黑",Arial, Helvetica, sans-serif;
	font-size: 100%;
}

a,a:hover,a:visited,a:active{
	color: inherit;
	text-decoration: none;
}
textarea{
	max-width: 800px;
}
/* header 导航栏的wrapper */
.header-wrapper{
	width:100%;
	min-width:1000px;
	height:60px;
	color:white;
	padding:0;
	background:#75A9D0;
}
.header{
	width:960px;
	margin:0 auto;
	position:relative;
}
.logo{
	float:left;
	background:url(../image/logo.png) no-repeat left;
	background-size:50px 50px;
	height:60px;
	line-height:60px;
	margin:0 5px;;
	padding:0;
	padding-left:60px;
	font-size:24px;
}
/* navigator 一级导航栏 */
.nav{
	/*display:inline-block;*/
	margin-left:20px;
	display: inline-block;
	max-width: 500px;
}
.nav ul,.nav ol{
	display:block;
	list-style:none;
	margin:0;
	padding:0;
}
.nav >li{
	float: left;
	position: relative;
	width:100px;
	text-align:center;
}
.nav >li > a{
	display:block;
	padding:0 10px;
	line-height:60px;
}
.nav > li>a:hover{
	cursor: pointer;
	background-color: #488EC1;
}
.nav a:visited,.nav a:active{
	background-color: #488EC1;
}
/* 被选中的导航 */
.active{
	background-color: #488EC1;
}
/* 二级导航栏 */
.nav ul { 
	display: none;
	position: absolute;
}
.nav ul li{
	width: 100px;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #E7EDF5;
	background-color: #AFC4DE;
}
.nav ul li:hover, .nav ul li a:active{
	text-decoration: none;
	background-color: #9FB7D7;
	color: white;
}
.menu li:hover{
	color:black;
}
.nav li:hover ul{
	display:block;
}
/* right */
.right{
	float: right;
	text-align: center;
	height:60px; 
	line-height:60px;
	color: white;
}
.right #exit{
	display: inline-block;
	width:60px;
	height: 35px;
	line-height: 35px;
	background-color: #488EC1;
	border-radius: 10px;
}
.right a:hover{
	cursor: pointer;
	box-shadow: black 1px 1px 0;
}
/* container */
.container{
	width:100%;
	min-width:1000px;
	height:100%;
	
}
/* footer */
.footer{
	width:100%;
	min-width:1000px;
	height:40px;
	line-height:40px;
	background-color:#75A9D0;
	color:white;
}
.footer p{
	width:50%;
	height:40px;
	margin:0 auto;
	text-align:center;
}
/* content */
.content{
	width:960px;
	height:auto;
	min-height:500px;
	margin:10px auto 10px auto;
	padding:10px 20px;
	border:solid #2A9FFF 1px;
}
/* now position */
.now_position a:hover,.now_position a:active{
	color: #2A9FFF;
}
